# exclude CMake build folders
/build
/tutorial/build

# exclude compiled Python files due to Spack repo
*.pyc

# exclude generated images appearing in the documentation
doc/sphinx/src/tutorial/images/*.svg
