# exclude CMake build folders
/build
/tutorial/build
/tutorial/standalone/flaxpy/build
/tutorial/standalone/poisson/build

# exclude compiled Python files due to Spack repo
*.pyc

# exclude generated images appearing in the documentation
/doc/sphinx/tutorial/images/*.svg
/doc/sphinx/user/images/overview.svg
/doc/sphinx/user/images/sequential.svg
/doc/sphinx/user/images/extension.svg
/doc/sphinx/user/tikz/*.log
/doc/sphinx/user/tikz/*.pdf
/doc/sphinx/user/tikz/*.aux
/doc/sphinx/user/tikz/*.png
