# exclude CMake build folders
/build
/tutorial/build
/tutorial/standalone/flaxpy/build
/tutorial/standalone/poisson/build

# exclude compiled Python files due to Spack repo
*.pyc

# exclude generated images appearing in the documentation
doc/sphinx/src/tutorial/images/*.svg
doc/sphinx/src/user-guide/tikz/*.log
doc/sphinx/src/user-guide/tikz/*.pdf
doc/sphinx/src/user-guide/tikz/*.aux
doc/sphinx/src/user-guide/tikz/*.png
